<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX9gbTALjyuoyrIKyUHTq3bgAdIOQCx_M</string>
	<key>GCM_SENDER_ID</key>
	<string>1074564273696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.aiviser</string>
	<key>PROJECT_ID</key>
	<string>aiviser-rokon</string>
	<key>STORAGE_BUCKET</key>
	<string>aiviser-rokon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074564273696:ios:bac7da854526d933a90e45</string>
</dict>
</plist>